.image-blur{
  filter: brightness(0.4); 
}
.soulignement-animation {
  position: relative;
  width: 100px;
  height: 5px;
  background-color: rgb(255, 255, 0);
  overflow: hidden;
}

.soulignement-animation::before,
.soulignement-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.soulignement-animation::before {
  background-color: rgb(255, 153, 0);
  transform: translateX(-100%);
  animation: soulignement-animation 3s infinite;
}

.soulignement-animation::after {
  background-color: #00f;
  transform: translateX(-200%);
  animation: soulignement-animation 3s infinite 1s;
}

@keyframes soulignement-animation {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(200%);
  }
}